<div class="filters-container">
  <mat-form-field>
    <mat-label>Select Event Type</mat-label>
    <mat-select
      [(value)]="selectedEventType"
      (selectionChange)="eventSelection()"
    >
      @for (eventType of eventTypes; track eventType) {
      <mat-option [value]="eventType?.value">{{
        eventType.label | titlecase
      }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="selectedFlood$ | async">
    <mat-label>Select Event Year</mat-label>
    <mat-select
      [(value)]="selectedEventYear"
      (selectionChange)="yearSelection()"
    >
      @for (year of availableYears$ |async; track year) {
      <mat-option [value]="year">{{ year }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field *ngIf="selectedYear$ | async">
    <mat-label>Select Event Date</mat-label>
    <mat-select
      [(value)]="selectedEventDate"
      (selectionChange)="dateSelection()"
      >@for (dateGroup of datesByYear$ |async; track dateGroup){
      <ng-container>
        <ng-container *ngIf="selectedEventYear === dateGroup.year">
          <ng-container>
            @for (date of dateGroup.dates; track date){
            <mat-option [value]="date">{{ date | customDate }}</mat-option>
            }
          </ng-container>
        </ng-container>
      </ng-container>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field
    *ngIf="
      (selectedFlood$ | async) &&
      (selectedYear$ | async) &&
      (selectedDate$ | async)
    "
  >
    <mat-label>Select Location</mat-label>
    <mat-select [(value)]="selectedLocation">
      <ng-container *ngFor="let item of availableAoiByDate$ | async">
        <ng-container *ngIf="selectedEventDate === item.date">
          <ng-container *ngFor="let location of item.aois">
            <mat-option [value]="location">{{
              location | titlecase
            }}</mat-option>
          </ng-container>
        </ng-container>
      </ng-container>
    </mat-select>
  </mat-form-field>

  <button mat-stroked-button color="accent" (click)="locationSelection()">
    Apply
  </button>
</div>
